[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-serializer = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
faker = "*"
faker-commerce = "*"
geoalchemy2 = "*"
shapely = "*"
requests = "*"
resend = "*"
sqlalchemy = "==2"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
pyjwt = "*"
supabase = "*"
flask-limiter = "*"

[dev-packages]

[requires]
python_version = "3.12"
