[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
flask-restful = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
supabase = "*"
faker = "*"
faker-commerce = "*"
flask-cors = "*"
geoalchemy2 = "*"
shapely = "*"
requests = "*"
flask-limiter = "*"
resend = "*"
sqlalchemy = "==2"

[dev-packages]

[requires]
python_version = "3.12"
